h1, h2, h3, h4, p, a
{
   color: #000 !important;
   font-family: "Courier New" !important;
   margin: 10px !important;
}
.fa-linkedin        { color: #007bb6  }

body { 
    margin: 0 auto;
    width: 70%; 

} 


@media (max-height: 400px) {
    body { 
        background-color: blue ;
    } 
}


h1 { 
    border-bottom: 1px solid #000;
}

h2 { 
    padding-top: 1em; 
    padding-bottom: 0em; 
}

.description {
    border-radius: 10px;
    border: 1px solid #000;
}
